*{
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    margin:50px;
    font-size: 40px;
}
button{
    width: 120px;
    height: 40px;
    margin: 50px 10px;
    font-size: 25px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 2px solid black;
    font-family: arial;
}
button:hover{
    cursor: pointer;
    background-color: coral;
    border: 1px solid #fff;
    color: #fff;
}

