*{
    margin: 0;
    padding: 0;
}
body{
   font-family: arial;
}
div#wrapper{
    margin: 25px auto 0px auto;
    width: 75%;
}
div#wrapper h1{
    display: block;
    background-color: #203d3a;
    color:#fff;
    text-align: center;
    line-height: 75px;
    border-radius: 20px 20px 0px 0px;
}
div#wrapper img{
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    cursor: pointer;
    filter: grayscale(100%);/* cteate js then write this filter in css file
}

/* =========== 
/* (when javascript file crete this is delete
    filter: grayscale(100%); /* gray filter show*/
/*}
div#wrapper img:hover{
    filter: grayscale(0%); 
} /* gray filter out) */

div#block1, div#block2{
    width: 60%;
    float: left;
    margin-top: 25px;
}