*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}
header{
    background-color: darkolivegreen;
    color: white;
    padding: 20px;
}
h2#header_title{
    padding: 10px;
}
div#contant{
    padding: 25px;
}
div#contant > h4{
    border-bottom: 2px solid gray;
    padding: 0px 20px 10px 5px;
    display: inline-block;
    width: 50%;
}
li.list_item{
    border-bottom: 1px solid grey;
    padding: 10px 0px;
}
form{
    padding-top: 20px;
}
form > input, button{
    padding: 10px;
}